<div *ngIf="info.fighting!=='true'; else fighting">
  <div class="row" style="width:100%">
    <div class="col-sm-5">
      <h5 class="text-primary">Changelog</h5>
    </div>
    <div class="col-sm-3">
      <a routerLink="/fight"><img src="../../../assets/Bez%20nazwy.png"></a>
    </div>
    <div class="col-sm-4">
      <h5 class="text-primary">Search for other players:</h5>
      <input type="text" [(ngModel)]="searchUsername" style="width:80%">
      <button class="btn" style="width:20%" (click)="search()">Search</button>

    </div>
  </div>
  <div class="row" style="width:100%">
    <div class="col-sm-8" style="max-height:70vh!important;">
      <ul class="list-unstyled">
        <li *ngFor="let change of changelog">
          {{change.change}}
        </li>
      </ul>
    </div>
    <div class="col-sm-4" style="max-height:70vh!important; overflow-y:scroll">
      <ul class="list-unstyled">
        <li *ngFor="let friend of friends">
            <a routerLink="../user/{{friend.login}}"><h4>{{friend.login}}</h4></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<ng-template #fighting>
  <app-fight-window user="info.username"></app-fight-window>
</ng-template>
