<app-side-bar></app-side-bar>
<div style="height:100px; margin-left:80px">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="row">
        Send this to inform players about scheduled work.
        When finished, tell them that all's WORKING
      </div>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-sm-7">
          <input type="text" name="message" [(ngModel)]="form.message" placeholder="Your message..."
                 #message="ngModel" style="width:100%; height:38px">
        </div>
        <div class="col-sm-3">
          <mat-select name="messageType" [(ngModel)]="form.messageType" placeholder="Message Type"
                       #messageType="ngModel" style="height:38px">
            <mat-option *ngFor="let type of messageTypes" [value]="type">{{type}}</mat-option>
          </mat-select>
        </div>
        <div class="col-sm-1">
          <button class="btn btn-primary">Submit</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
