<app-side-bar></app-side-bar>
<div style="height:100px">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="row">
        <div class="col-sm-3">
          <label> Message Type</label>
          <input type="text">
        </div>
        <div class="col-sm-7">
          <label> Message</label>
          <input type="text">
        </div>
        <div class="col-sm-2">
          <input type="submit">
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
