<div style="width:100%; height:60vh">
  Your party:
  <div class="row" style="width:100%">
    <div style="width:25%; height:100px" *ngFor="let fighter of getPartyFighters()">
      <img src="fighter.fighterImage" style="width:100%; height:100%; z-index:5">
    </div>
  </div>
  Shapes in your inventory:
  <div class="row" style="width:100%">
    <div style="width:25%; height:100px" *ngFor="let fighter of getInventoryFighers()">
      <img src="fighter.fighterImage" style="width:100%; height:100%; z-index:5">
    </div>
  </div>
</div>
