<div class="container skill-panel">
  <div class="row">
    <div class="col-sm-6">
      <h2>Skill list</h2>
    </div>
    <div class="col-sm-6">
      <button class="float-right btn btn-success" [routerLink]="['create']">Add new skill</button>
    </div>
  </div>

  <div class="row" *ngFor="let skill of skills$">
    <div class="col-sm-2">
      <img style="width:100px; height:100px; margin-left:20%" src="skill.icon">
      <h4 style="text-align: center">{{skill.name}}</h4>
    </div>
    <div class="col-sm-8">
      <span style="white-space:pre-line">{{skill.tooltip}}</span>
    </div>
    <div class="col-sm-1">
      <button class="btn btn-block" [routerLink]="[skill.id]">EDIT</button>
      <button class="btn btn-block">DELETE</button>
    </div>
  </div>
</div>


