<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Fighter Details: {{selectedFighter.fighterModelReferrenceDto.colorName
      + " "+selectedFighter.fighterModelReferrenceDto.shapeName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
      Level: {{selectedFighter.level}}
      <br/>
      Experience:{{selectedFighter.xpPoints}}
      <br/>
      Hit points: {{selectedFighter.maximumHp}}
      <br/>
      Strength: {{selectedFighter.strength}}
      <br/>
      Armor: {{selectedFighter.armor}}
      <br/>
      Speed: {{selectedFighter.speed}}
      
      <br/> Abilities:
      <p *ngFor = "let skill of selectedFighterSkills">
        <strong>{{skill.name}}</strong>{{' - '+skill.tooltip}}
      </p>
    </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<div class="container skill-panel">
  <div class="row">
    <div class="col-sm-6">
      <div class="min-height:70vh">
      <h2>{{user.login}}</h2>
        <div class="row">
          <div class="col-sm-12">
            Level: {{user.level}}
            <br/>
            Experience points: {{user.xpPoints}}
            <br/>
            Fights won: {{fights.won}}
            <br/>
            Fights lost: {{fights.lost}}
            <br/>
            Fights abandoned: {{fights.abandoned}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6" *ngIf="currentUser">

      <div class="col-sm-8">
        Your party:
        <div class="row" style="width:100%; height:140px">
          <div ngbDropdown class="dropdown{{pFighter.id}}" style="width:25%; height:130px"
               *ngFor="let pFighter of partyFighters">
            <button ngbDropdownToggle class="btn btn-primary" type="button"
                    style="padding:0; height:130px;
            background-color: rgba(255,255,255,1.0)">
              <img src="{{pFighter.fighterModelReferrenceDto.model}}" style="width:100%; height:100px">
              <span style="text-align:center; color:black">{{pFighter.slot}}
              </span>
            </button>
            <div ngbDropdownMenu class="dropdown-menu" id="p{{pFighter.id}}">
              <div class="dropdown-header">
                {{pFighter.fighterModelReferrenceDto.colorName+" "+pFighter.fighterModelReferrenceDto.shapeName+"["+pFighter.level+"]"}}
              </div>
              <span class="dropdown-item" (click)="set(pFighter,'INVENTORY')">Move to inventory</span>
              <div class="dropdown-divider"></div>
              <span class="dropdown-item" (click)="openDetailsForFighter(pFighter,content)">Show details</span>
            </div>
          </div>
        </div>
        Shapes in your inventory:
        <div class="row" style="width:100%">
          <div ngbDropdown class="dropdown{{invFighter.id}}" style="width:25%; height:100px"
               *ngFor="let invFighter of inventoryFighters">
            <button ngbDropdownToggle class="btn btn-primary" type="button"
                    style="padding:0; height:100px;
            background-color: rgba(255,255,255,1.0)">
              <img src="{{invFighter.fighterModelReferrenceDto.model}}" style="width:100%; height:100%">
              <span class="caret"></span>
            </button>
            <div ngbDropdownMenu class="dropdown-menu" id="inv{{invFighter.id}}">
              <div class="dropdown-header">
                {{invFighter.fighterModelReferrenceDto.colorName+" "+invFighter.fighterModelReferrenceDto.shapeName+"["+invFighter.level+"]"}}
              </div>
              <span class="dropdown-item" (click)="set(invFighter,'SLOT_1')">Move to slot 1</span>
              <span class="dropdown-item" (click)="set(invFighter,'SLOT_2')">Move to slot 2</span>
              <span class="dropdown-item" (click)="set(invFighter,'SLOT_3')">Move to slot 3</span>
              <span class="dropdown-item" (click)="set(invFighter,'SLOT_4')">Move to slot 4</span>
              <div class="dropdown-divider"></div>
              <span class="dropdown-item" (click)="openDetailsForFighter(invFighter,content)">Show details</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6" *ngIf="!currentUser">
      <div *ngIf="!challengeIssued">
        <button (click)="challenge()" class="btn btn-outline-info">Challenge</button>
      </div>
      <div *ngIf="challengeIssued && challengeIssued.relevantUsername==this.profileUsername">
        <button (click)="acceptChallenge()" class="btn btn-outline-info">Accept Challenge</button>
        <button (click)="rejectChallenge()" class="btn btn-outline-info">Reject Challenge</button>
      </div>
        <ul style="min-height:60vh; max-height: 60vh; overflow-y: scroll">
          <li *ngFor="let message of messages">
            <div>
              <span style="font-size:12px; color:grey">{{message.senderName+" - "+message.messageTime}}</span><br>
              <span>{{message.message}}</span>
            </div>
          </li>
          <li *ngIf="messages.length==0">
            <span style="font-size:12px; color:grey">Start communicating with {{user.login}}</span>
          </li>
        </ul>
      <form (submit)="sendMessage($event)">
        <input type="text" [(ngModel)]="messageToSend" style="width:80%" name="message">
        <button class="btn btn-primary">Send </button>
      </form>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-4">

    </div>

  </div>
</div>


