<div class="container skill-panel">
  <div class="row">
    <div class="col-sm-6">
      <div class="min-height:70vh">
      <h2>{{user.login}}</h2>
        <div class="row">
          AAA
        </div>
      </div>
    </div>
    <div class="col-sm-6" *ngIf="currentUser">
      <button>Edit user profile</button>
      <div class="col-sm-8">
        BBB
      </div>
    </div>
    <div class="col-sm-6" *ngIf="!currentUser">
      <button>Challenge</button>
        <ul style="min-height:60vh; overflow-y: scroll">
          <li *ngFor="let message of messages">
            <div>
              <span style="font-size:12px; color:grey">{{message.sender+" - "+message.messageTime}}</span><br>
              <span>{{message.message}}</span>
            </div>
          </li>
          <li *ngIf="messages.length==0">
            <span style="font-size:12px; color:grey">Start communicating with {{user.login}}</span>
          </li>
        </ul>
        <input type="text" [(ngModel)]="messageToSend" style="width:80%"><button (click)="sendMessage()">send</button>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-4">

    </div>

  </div>
</div>


