<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Fighter Details: {{selectedFighter.color+ " "+selectedFighter
      .shapeName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        Level: {{selectedFighter.level}}
        <br/>
        Experience:{{selectedFighter.xpPoints}}
        <br/>
        Hit points: {{selectedFighter.maximumHp}}
        <br/>
        Strength: {{selectedFighter.strength}}
        <br/>
        Armor: {{selectedFighter.armor}}
        <br/>
        Speed: {{selectedFighter.speed}}

        <br/> Abilities:
        <p *ngFor = "let skill of selectedFighterSkills">
          <strong>{{skill.name}}</strong>{{' - '+skill.tooltip}}
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<nav class="navbar navbar-inverse" style="background-color:#3c454d; z-index:1500">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Shape Wars</a>
      <span *ngIf="lastLogMessageType!=='WORKING' && lastLogMessage" style="color:#aab">
        {{"["+lastLogMessage.messageType+"] "+lastLogMessage.message + " - " + lastLogMessage.informerName + " (reported: " + lastLogMessage.messageTime + ")"}}
      </span>
    </div>
    <ul class="nav navbar-inverse" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
      <li *ngIf="authority ==='user' || authority==='admin' && lastLogMessageType==='WORKING'" class="nav-item">
        <a class="nav-link" routerLink="user">Your profile</a>
      </li>
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a class="nav-link" routerLink="admin">Admin Board</a>
      </li>

    </ul>

    <ul class="nav navbar-inverse" routerLinkActive="active" style="float:right">
      <li *ngIf="!authority" class="nav-item" style="float:right">
        <a class="nav-link" routerLink="auth/login">Login</a>
      </li>
      <li *ngIf="!authority && lastLogMessageType==='WORKING'" class="nav-item" style="float:right">
        <a class="nav-link" routerLink="signup">Register</a>
      </li>
      <li *ngIf="authority" class="nav-item" style="float:right" (click)="onLogout($event)">
        <a class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid my-container">
<router-outlet></router-outlet>
</div>

