
<nav class="navbar navbar-inverse" style="background-color:#3c454d; z-index:1500">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Shape Wars</a>
      <span *ngIf="lastLogMessageType!=='WORKING' && lastLogMessage" style="color:#aab">
        {{"["+lastLogMessageType+"]"}}
      </span>
    </div>
    <ul class="nav navbar-inverse" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
      <li *ngIf="authority ==='user' || authority==='admin' && lastLogMessageType==='WORKING'" class="nav-item">
        <a class="nav-link" routerLink="user">Your profile</a>
      </li>
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a class="nav-link" routerLink="admin">Admin Board</a>
      </li>

    </ul>

    <ul class="nav navbar-inverse" routerLinkActive="active" style="float:right">
      <li *ngIf="!authority" class="nav-item" style="float:right">
        <a class="nav-link" routerLink="auth/login">Login</a>
      </li>
      <li *ngIf="!authority && lastLogMessageType==='WORKING'" class="nav-item" style="float:right">
        <a class="nav-link" routerLink="signup">Register</a>
      </li>
      <li *ngIf="authority" class="nav-item" style="float:right" (click)="onLogout($event)">
        <a class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid" style="position:relative; top:80px; padding:0 40px">
<router-outlet></router-outlet>
</div>

