.navbar{
  margin-bottom: 0;
  position:fixed;
  width:100%;
  z-index:1000;
}

.my-container{
  position:absolute;
  top:80px;
  left:10%;
  width:90%;
  height:87.5%;
}
.nav-link, .navbar-brand{
  color:white!important;
}
.nav-link:hover, .navbar-brand:hover{
  color:lightgray!important;
}
.nav-link:active, .navbar-brand:active{
  color:white!important;
}
.modal-dialog{
  top:100px;
}
