<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Shape Wars</a>
      <span *ngIf="lastLogMessageType!=='WORKING'" style="margin-left:45px; padding:15px; float:left; color:white; font-size:125%">
        {{lastLogMessage.message + " - " + lastLogMessage.informerName + " (zgłoszone: " + lastLogMessage.messageTime + ")"}}
      </span>
    </div>
    <ul class="nav navbar-nav" routerLinkActive="active" *ngIf="lastLogMessageType==='WORKING'">
      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
      <li *ngIf="authority === 'user'" class="nav-item">
        <a class="nav-link" routerLink="user">Your profile</a>
      </li>
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a class="nav-link" routerLink="admin">Admin Board</a>
      </li>

    </ul>

    <ul class="nav navbar-nav" routerLinkActive="active" style="float:right" *ngIf="lastLogMessageType==='WORKING'">
      <li *ngIf="!authority" class="nav-item" style="float:right">
        <a class="nav-link" routerLink="signup">Register</a>
      </li>
      <li *ngIf="!authority" class="nav-item" style="float:right">
        <a class="nav-link" routerLink="auth/login">Login</a>
      </li>
      <li *ngIf="authority" class="nav-item" style="float:right" (click)="onLogout($event)">
        <a class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid my-container">
<router-outlet></router-outlet>
</div>

