<div class="container skill-panel">
  <div class="row">
    <div class="col-sm-6">
      <h2>User list</h2>
    </div>
  </div>

  <div class="row">
    <table mat-table [dataSource]="users" style="width:100%">
      <!-- Status Effect Definition -->
      <ng-container matColumnDef="login">
        <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
        <mat-cell *matCellDef="let el">
          {{el.login}}
        </mat-cell>
      </ng-container>

      <!-- Target Type Definition -->
      <ng-container matColumnDef="admin">
        <mat-header-cell *matHeaderCellDef> Admin Privileges </mat-header-cell>
        <mat-cell *matCellDef="let el">
          <mat-slide-toggle [(ngModel)]="el.admin" (change)="toggleAdminPrivileges(el)">
          </mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fighterList">
        <mat-header-cell *matHeaderCellDef> List of fighters </mat-header-cell>
        <mat-cell *matCellDef="let el" >
          {{el.allFighterList.length+":"}}
          <ul>
            <li *ngFor="let fighter of el.allFighterList">
              {{"["+fighter.level+"]"+fighter.color + " "+fighter.name}}
            </li>
          </ul>
        </mat-cell>
      </ng-container>

      <!-- Options Definition -->
      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef>
        </mat-header-cell>
        <mat-cell *matCellDef="let el">
          <button class="btn btn-info" (click)="resetFighters(el.login)">Reset fighters</button>
          <button class="btn btn-danger" (click)="ban(el.login)">BAN</button>
        </mat-cell>
      </ng-container>

      <!-- Header and Row Declarations -->
      <mat-header-row
        *matHeaderRowDef="['login', 'admin', 'fighterList', 'options']"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: ['login', 'admin', 'fighterList', 'options']"></mat-row>

    </table>
  </div>
</div>


