<div class="row" style="position:relative; margin: 0 50px; left:-30px">
  <div class="row" style="width:100%">
    <div class="col-sm-9">
      <h2 class="float-left"> Add/edit color</h2>
    </div>
  </div>
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div style="margin:0 40px">
      <div class="row">
        <div class="col-sm-7">
          <div class="form-group">
            <label for="icon">
              <div>
                Here's how the color will look like on example icon.
                <br>
                Click icon to upload modified color:
                <br>
                <span style="color:grey; font-weight:normal">
                Make sure the color has opacity 66%. Otherwise it won't look good
                <br> Also, standard size of color map image is 500x500. Keep in mind
              </span> </div>
              <canvas id="iconCanvas" width="500" height="500"></canvas>
              <input type='file' (change)="onSelectFile($event)" id="icon" style="display:none">
            </label>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label>Color name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="form.colorName" #colorName="ngModel"
                   required style="font-weight: bold; font-size:175%; height:40px"/>
          </div>
          <div class="form-group">
            <label>Damage dealt against other colors</label>
            <table mat-table [dataSource]="form.colorDamageDtoList" style="width:100%">
              <!-- Status Effect Definition -->
              <ng-container matColumnDef="enemyColorName">
                <mat-header-cell *matHeaderCellDef> Enemy Color Name </mat-header-cell>
                <mat-cell *matCellDef="let el">
                  {{el.enemyColorName}}
                </mat-cell>
              </ng-container>

              <!-- Target Type Definition -->
              <ng-container matColumnDef="damage">
                <mat-header-cell *matHeaderCellDef> Damage Percentage </mat-header-cell>
                <mat-cell *matCellDef="let el">
                  <input type="number" [(ngModel)]="el.damagePercentage"
                         #damagePercentage="ngModel" name="damagePercentage{{el.enemyColorName}}">
                </mat-cell>
              </ng-container>
              <!-- Header and Row Declarations -->
              <mat-header-row
                *matHeaderRowDef="['enemyColorName', 'damage']"></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: ['enemyColorName', 'damage']"></mat-row>

            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Submit changes</button>
    </div>
  </form>
</div>
